```{=html}
<% for (const item of items) { %>
<a href="<%- item.path %>" class="post-link">
  <div class="post-listings-container">
    <div class="post-listing">
      <div class="post-content">
        <h3><%= item.title %></h3>
        <div class="post-date"><%= item.date %></div>
        <div class="post-summary"><%= item.summary %></div>
      </div>
      <div class="post-image">
        <img src="<%- item.image %>" alt="<%= item.title %>" />
      </div>
    </div>
  </div>
</a>

<% } %>
```